/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  padding: 0.5rem;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: black;
}

/* images and videos max out at full width */
.backgroundVD {
  position:absolute;
/*   left: 50%;
  top: 50%;
  transform:translate(-50%, -50%); */
  left:0;
  top:0;
  width: 100vw;
  height:100vh;
  display: none;
  background-color:white;
   z-index: 998;
}

img,
video {
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  padding: 0;
  height: auto;
  z-index:999;
  object-fit: cover;
}

.number {
  font-family: Arial, sans-serif;
  color: #fd6701;
  top: -55%;
  left: 42%;
  /*   transform: translate(-25%, -25%); */
  position: fixed;
  font-size: 30rem;
  z-index: 100;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: auto;
}

.countdowns {
  text-align: center;
}

.num {
  color: white;
}

.hide {
  color: black;
}

.num:hover + .hide {
  display: block;
  color: white;
}

.esc {
  display:none;
  color: white;
  position: fixed;
  padding: 1rem;
  left: 0;
  top: 0;
  z-index:1000;
  border-radius: 5px;
  border: 2px solid #000000;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#imgcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -40%);
  /*     -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite; */
}

/* #walk {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-100%, -40%);
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
} */
